<header class="mb4">
    <h1 class="tr f3 ma0 normal" style="height: 52px;">
      <span class="inconsolata">Climate Dynamics Group<br /></span>
      <span class="columbia">at the University of California, Santa Cruz</span>
    </h1>

    <nav class="tl overflow-hidden">
    <!-- nav order is set by the 'order' field in each page's front matter -->
    {% assign sorted_pages = site.pages | where_exp:"p","p.order" | sort:"order" %}
      <ul class="list ma0 pa0">
        {% for node in sorted_pages %}
          {% if node.title != null %}
            {% unless node.url contains 'archive' %} 
              <li class="fl di">
                    <!-- this matches strings in the url to node title to highlight the active page -->
                    <a class="hover-red ttl nav pr2
                    {% if page.url == '/' and node.url == '/' %} active
                    {% elsif node.url != '/' and page.url contains node.title %} active
                    {% elsif page.layout == 'project' and node.title == 'research' %} active
                    {% endif %}"
                    href="{{ node.url }}">
                        {{ node.title }}
                    </a>
              </li>
            {% endunless %}
          {% endif %}
        {% endfor %}
      </ul>
        <!--<a class="hover-red ttl pr2 nav"
            href="https://knowledge-production.github.io/forge/">the-forge</a>-->
    </nav>
</header>
