---
layout: article
---

{{ content }}

<p class="ma0 mb4">
<small>For a comprehensive list of publications, see 
  <a href="https://scholar.google.com/citations?user=7W0mA9gAAAAJ">Google Scholar</a>.</small></p>

<section class="mb4">
<div class="nav secondary" id="2020">
    <a href="#2020" class="nav active">2020</a>
    <span class="gray"> / </span>
    <a href="#2019">2019</a>
    <span class="gray"> / </span>
    <a href="#2018">2018</a>
    <span class="gray"> / </span>
    <a href="#2017">2017</a>
    <span class="gray"> / </span>
    <a href="#2016">2016</a>
    <span class="gray"> / </span>
    <a href="#2015">2015</a>
    <span class="gray"> / </span>
    <a href="#2014">2014</a>
    <span class="gray"> / </span>
    <a href="#2013">2013</a>
    <hr>
</div>

<div>
    {% include date-sorting.html %}
    {% for o in order %}
        {% include date-split.html %}
        {% if update.type contains 'publication' or update.type contains 'paper' %}
            {% assign year = update.date | date: '%Y' %}
            {% if year == '2020' %}
                {% include impact-updates.html %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
</section>

<section class="mb4">
<div class="nav secondary" id="2019">
    <a href="#2020">2020</a>
    <span class="gray"> / </span>
    <a href="#2019" class="nav active">2019</a>
    <span class="gray"> / </span>
    <a href="#2018">2018</a>
    <span class="gray"> / </span>
    <a href="#2017">2017</a>
    <span class="gray"> / </span>
    <a href="#2016">2016</a>
    <span class="gray"> / </span>
    <a href="#2015">2015</a>
    <span class="gray"> / </span>
    <a href="#2014">2014</a>
    <span class="gray"> / </span>
    <a href="#2013">2013</a>
    <hr>
</div>

<div>
    {% include date-sorting.html %}
    {% for o in order %}
        {% include date-split.html %}
        {% if update.type contains 'publication' or update.type contains 'paper' %}
            {% assign year = update.date | date: '%Y' %}
            {% if year == '2019' %}
                {% include impact-updates.html %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
</section>

<section class="mb4">
<div class="nav secondary" id="2018">
    <a href="#2020">2020</a>
    <span class="gray"> / </span>
    <a href="#2019">2019</a>
    <span class="gray"> / </span>
    <a href="#2018" class="nav active">2018</a>
    <span class="gray"> / </span>
    <a href="#2017">2017</a>
    <span class="gray"> / </span>
    <a href="#2016">2016</a>
    <span class="gray"> / </span>
    <a href="#2015">2015</a>
    <span class="gray"> / </span>
    <a href="#2014">2014</a>
    <span class="gray"> / </span>
    <a href="#2013">2013</a>
    <hr>
</div>

<div>
    {% include date-sorting.html %}
    {% for o in order %}
        {% include date-split.html %}
        {% if update.type contains 'publication' or update.type contains 'paper' %}
            {% assign year = update.date | date: '%Y' %}
            {% if year == '2018' %}
                {% include impact-updates.html %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
</section>

<section class="mb4">
<div class="nav secondary" id="2017">
    <a href="#2020">2020</a>
    <span class="gray"> / </span>
    <a href="#2019">2019</a>
    <span class="gray"> / </span>
    <a href="#2018">2018</a>
    <span class="gray"> / </span>
    <a href="#2017" class="nav active">2017</a>
    <span class="gray"> / </span>
    <a href="#2016">2016</a>
    <span class="gray"> / </span>
    <a href="#2015">2015</a>
    <span class="gray"> / </span>
    <a href="#2014">2014</a>
    <span class="gray"> / </span>
    <a href="#2013">2013</a>
    <hr>
</div>

<div>
    {% include date-sorting.html %}
    {% for o in order %}
        {% include date-split.html %}
        {% if update.type contains 'publication' or update.type contains 'paper' %}
            {% assign year = update.date | date: '%Y' %}
            {% if year == '2017' %}
                {% include impact-updates.html %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
</section>

<section class="mb4">
<div class="nav secondary" id="2016">
    <a href="#2020">2020</a>
    <span class="gray"> / </span>
    <a href="#2019">2019</a>
    <span class="gray"> / </span>
    <a href="#2018">2018</a>
    <span class="gray"> / </span>
    <a href="#2017">2017</a>
    <span class="gray"> / </span>
    <a href="#2016" class="nav active">2016</a>
    <span class="gray"> / </span>
    <a href="#2015">2015</a>
    <span class="gray"> / </span>
    <a href="#2014">2014</a>
    <span class="gray"> / </span>
    <a href="#2013">2013</a>
    <hr>
</div>

<div>
    {% include date-sorting.html %}
    {% for o in order %}
        {% include date-split.html %}
        {% if update.type contains 'publication' or update.type contains 'paper' %}
            {% assign year = update.date | date: '%Y' %}
            {% if year == '2016' %}
                {% include impact-updates.html %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
</section>

<section class="mb4">
<div class="nav secondary" id="2015">
    <a href="#2020">2020</a>
    <span class="gray"> / </span>
    <a href="#2019">2019</a>
    <span class="gray"> / </span>
    <a href="#2018">2018</a>
    <span class="gray"> / </span>
    <a href="#2017">2017</a>
    <span class="gray"> / </span>
    <a href="#2016">2016</a>
    <span class="gray"> / </span>
    <a href="#2015" class="nav active">2015</a>
    <span class="gray"> / </span>
    <a href="#2014">2014</a>
    <span class="gray"> / </span>
    <a href="#2013">2013</a>
    <hr>
</div>

<div>
    {% include date-sorting.html %}
    {% for o in order %}
        {% include date-split.html %}
        {% if update.type contains 'publication' or update.type contains 'paper' %}
            {% assign year = update.date | date: '%Y' %}
            {% if year == '2015' %}
                {% include impact-updates.html %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
</section>

<section class="mb4">
<div class="nav secondary" id="2014">
    <a href="#2020">2020</a>
    <span class="gray"> / </span>
    <a href="#2019">2019</a>
    <span class="gray"> / </span>
    <a href="#2018">2018</a>
    <span class="gray"> / </span>
    <a href="#2017">2017</a>
    <span class="gray"> / </span>
    <a href="#2016">2016</a>
    <span class="gray"> / </span>
    <a href="#2015">2015</a>
    <span class="gray"> / </span>
    <a href="#2014" class="nav active">2014</a>
    <span class="gray"> / </span>
    <a href="#2013">2013</a>
    <hr>
</div>

<div>
    {% include date-sorting.html %}
    {% for o in order %}
        {% include date-split.html %}
        {% if update.type contains 'publication' or update.type contains 'paper' %}
            {% assign year = update.date | date: '%Y' %}
            {% if year == '2014' %}
                {% include impact-updates.html %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
</section>

<section class="mb4">
<div class="nav secondary" id="2013">
    <a href="#2020">2020</a>
    <span class="gray"> / </span>
    <a href="#2019">2019</a>
    <span class="gray"> / </span>
    <a href="#2018">2018</a>
    <span class="gray"> / </span>
    <a href="#2017">2017</a>
    <span class="gray"> / </span>
    <a href="#2016">2016</a>
    <span class="gray"> / </span>
    <a href="#2015">2015</a>
    <span class="gray"> / </span>
    <a href="#2014">2014</a>
    <span class="gray"> / </span>
    <a href="#2013" class="nav active">2013</a>
    <hr>
</div>

<div>
    {% include date-sorting.html %}
    {% for o in order %}
        {% include date-split.html %}
        {% if update.type contains 'publication' or update.type contains 'paper' %}
            {% assign year = update.date | date: '%Y' %}
            {% if year == '2013' %}
                {% include impact-updates.html %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
</section>
