---
layout: article
---

<!--{{ content }}-->

<!-- lets iterate over the people tag and make a list of all participants -->
<!--{% assign people = site.documents | map: 'people' | uniq | compact %} -->

<!--
{% assign people = '' | split: ',' %}
{% for post in site.documents %}
    {% assign year = post.updates[0].date | date: '%Y' | plus: 0 %}
    {% assign fiveyearsago = site.time | date: '%Y' | minus: 5 %}
    {% if year >= fiveyearsago %}
        {% assign people = people | push: post.people %}
    {% endif %}
{% endfor %}
{% assign people = people | uniq | compact %} 

<div class = "mb3">

    <div class = "f4 mb2">Recent Collaborators</div>

    <ul class = "people-list di">
        {% for person in people %}
            <li class = "di">{{ person }}</li>
        {% endfor %}
    </ul>

</div>
-->

<div class = "f4">Currently at UCSC</div>
    <ul class = "people-list mt0 di">
        {% for mod in site.data.mods %}
            <li class = "di"><a href="{{ mod.url }}">{{ mod.name }}</a></li>
        {% endfor %}
    </ul>

<div class="f4 mt3">Alumni</div>

    <ul class="people-list mt0 di">
        {% for mod in site.data.alumns %}
            <li class = "di">
                <a href = "{{ mod.url }}">{{ mod.name }}</a> ({{ mod.datestart }} - {{ mod.dateend }})</li>
        {% endfor %}
    </ul>

<div class = "mb3">
</div>

<!-- image gallery support -->
{% if page.images %}
    <div id="gallery-box" class="ml-auto mr-auto relative overflow-hidden">
    {% for image in page.images %}
        <a href="{{ site.url }}/public/images/{{ image }}">
        <img alt="" src="{{ site.url }}/public/images/{{ image }}" class="mw5 ma2 fl"></a>
    {% endfor %}
    </div>
{% endif %}

